body {
    background-color: red;
}


/*Its hiding twitter feed*/

#mySidenav {
    display: block;
}
/* slide in twitter */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}



.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}
/*Styling for closing button*/
.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
}


